<mat-card class="example-card">
    <mat-card-header class="d-block">
        <mat-card-title class="d-flex text-center pb-3">
            <span class="w-100">Team 1</span>
            <span class="w-100">vs</span>
            <span class="w-100">Team 2</span>
        </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="pt-3">
        <mat-card-subtitle>To WIN</mat-card-subtitle>
    </mat-card-content>
    <mat-card-actions class="d-flex justify-content-around">
        <button mat-fab extended class="btn d-flex flex-column text-center custom-button ">
            <span class="w-100">Team 1</span><br>
            <span class="w-100">1.2</span>
        </button>
        <button  class="btn d-flex flex-column text-center">
            <span class="w-100">Team 2</span>
            <span class="w-100">1.2</span>
        </button>
    </mat-card-actions>
</mat-card>