<app-header></app-header>
<app-betslip></app-betslip>
<div class="container mt-3">
    <div class="row row-gap-4">
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <app-event></app-event>
        </div>
    </div>
</div>